<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://avatars.githubusercontent.com/u/66529242?s=400&u=32f29b9006326908b7aaf3b3690af10be96ebb0e&v=4">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">arlissonjaques</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>177</span> posts</li>
        <li><span>777</span> followers</li>
        <li><span>17</span> following</li>
      </ul>
      <h2 class="name">Arlisson Jaques</h2>
      <a class="website">arlissonjaques.com</a>
    </div>
  </div>
</div>