<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://avatars.githubusercontent.com/u/66529242?s=400&u=32f29b9006326908b7aaf3b3690af10be96ebb0e&v=4">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">arlissonjaques</h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>177</span> posts</li>
        <li><span>777</span> followers</li>
        <li><span>17</span> following</li>
      </ul>
      <h2 class="name">Arlisson Jaques</h2>
      <a class="website">arlissonjaques.com</a>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="https://cdn.pixabay.com/photo/2015/02/24/15/41/dog-647528_960_720.jpg">
  </div>
  <div class="wrapper">
    <img src="https://cdn.pixabay.com/photo/2016/08/09/21/54/lake-1581879_960_720.jpg">
  </div>
  <div class="wrapper">
    <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg">
  </div>
</div>